.ap-game {
	&-stage {
		height: calc(100vh - 3.5em);

		@include above(760px) {
			height: calc(100vh - 5.2em);
		}
	}

	&-area {
		display: flex;
		justify-content: center;
		height: 100%;
		flex-direction: column;
	}
}

.ap {
	// Local Layout
	&-counter {
		text-align: center;
		padding: 1em;

		.ap-txt {
			font-family: $secondFont;
			font-size: 1.6em;

			&--timer {
				font-size: 2em;
			}
		}
	}
}
