.ap-btn {
	@include gradient(to left, $btnGrad);
	font-family: $secondFont;
	color: #fff;
	width: 100%;
	max-width: 10em;
	display: block;
	text-align: center;
	padding: 0.7em;
	border-radius: 14em;
	font-weight: 700;
	text-shadow: 0em 0em 0.4em rgba(0, 0, 0, 0.4);
	font-size: 1.8em;
	text-transform: uppercase;
	padding: 0.2em;
	box-shadow: 0em 0.2em $baseDrk;
	letter-spacing: 1px;
}
