.ap-footer {
	.ap-ft {
		&-area {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 1.6em 1em;
			z-index: 4;

			@include below(760px) {
				font-size: 0.68em;
			}
			@include above(760px) {
				justify-content: space-around;
			}
		}

		&-logo {
			max-width: 8em;
			width: 100%;
			display: block;
			height: 2em;

			.icon {
				fill: #fff;
			}
		}
	}

	.ap-txt--link {
		color: $fontBase;
		text-decoration: underline;
	}
}
