.ap {
	&-intro-ui {
		#logo-navidad {
			.st0 {
				fill: #006633;
			}
			.st1 {
				fill: none;
			}
			.st2 {
				fill: url(#SVGID_1_);
			}
			.st3 {
				fill: url(#SVGID_2_);
			}
			.st4 {
				fill: url(#SVGID_3_);
			}
			.st5 {
				fill: url(#SVGID_4_);
			}
			.st6 {
				fill: url(#SVGID_5_);
			}
			.st7 {
				fill: url(#SVGID_6_);
			}
			.st8 {
				fill: url(#SVGID_7_);
			}
			.st9 {
				fill: url(#SVGID_8_);
			}
			.st10 {
				fill: url(#SVGID_9_);
			}
			.st11 {
				fill: url(#SVGID_10_);
			}
			.st12 {
				fill: url(#SVGID_11_);
			}
			.st13 {
				fill: #8e690c;
			}
			.st14 {
				fill: url(#SVGID_12_);
			}
			.st15 {
				fill: url(#SVGID_13_);
			}
			.st16 {
				fill: url(#SVGID_14_);
			}
			.st17 {
				fill: url(#SVGID_15_);
			}
			.st18 {
				fill: url(#SVGID_16_);
			}
			.st19 {
				fill: url(#SVGID_17_);
			}
			.st20 {
				fill: url(#SVGID_18_);
			}
			.st21 {
				fill: url(#SVGID_19_);
			}
			.st22 {
				fill: url(#SVGID_20_);
			}
			.st23 {
				fill: url(#SVGID_21_);
			}
			.st24 {
				fill: url(#SVGID_22_);
			}
			.st25 {
				fill: #003519;
			}
			.st26 {
				fill: url(#SVGID_23_);
			}
			.st27 {
				fill: url(#SVGID_24_);
			}
			.st28 {
				fill: url(#SVGID_25_);
			}
			.st29 {
				fill: url(#SVGID_26_);
			}
			.st30 {
				fill: url(#SVGID_27_);
			}
			.st31 {
				fill: url(#SVGID_28_);
			}
			.st32 {
				fill: url(#SVGID_29_);
			}
			.st33 {
				fill: url(#SVGID_30_);
			}
			.st34 {
				opacity: 0.8;
			}
			.st35 {
				fill: #ffffff;
			}
			.st36 {
				fill: url(#SVGID_31_);
			}
			.st37 {
				opacity: 0.7;
			}
			.st38 {
				fill: url(#SVGID_32_);
			}
			.st39 {
				fill: url(#SVGID_33_);
			}
			.st40 {
				fill: url(#SVGID_34_);
			}
			.st41 {
				fill: url(#SVGID_35_);
			}
			.st42 {
				fill: #7c2830;
			}
			.st43 {
				fill: url(#SVGID_36_);
			}
			.st44 {
				fill: url(#SVGID_37_);
			}
			.st45 {
				fill: url(#SVGID_38_);
			}
			.st46 {
				fill: url(#SVGID_39_);
			}
			.st47 {
				fill: url(#SVGID_40_);
			}
			.st48 {
				fill: url(#SVGID_41_);
			}
			.st49 {
				fill: url(#SVGID_42_);
			}
			.st50 {
				fill: url(#SVGID_43_);
			}
			.st51 {
				fill: url(#SVGID_44_);
			}
			.st52 {
				fill: url(#SVGID_45_);
			}
			.st53 {
				fill: url(#SVGID_46_);
			}
			.st54 {
				fill: url(#SVGID_47_);
			}
			.st55 {
				fill: url(#SVGID_48_);
			}
			.st56 {
				fill: url(#SVGID_49_);
			}
			.st57 {
				fill: url(#SVGID_50_);
			}
			.st58 {
				fill: url(#SVGID_51_);
			}
			.st59 {
				fill: url(#SVGID_52_);
			}
			.st60 {
				fill: url(#SVGID_53_);
			}
			.st61 {
				fill: url(#SVGID_54_);
			}
			.st62 {
				fill: url(#SVGID_55_);
			}
			.st63 {
				fill: url(#SVGID_56_);
			}
			.st64 {
				fill: url(#SVGID_57_);
			}
			.st65 {
				fill: url(#SVGID_58_);
			}
			.st66 {
				fill: url(#SVGID_59_);
			}
			.st67 {
				fill: url(#SVGID_60_);
			}
			.st68 {
				fill: url(#SVGID_61_);
			}
			.st69 {
				fill: url(#SVGID_62_);
			}
			.st70 {
				fill: url(#SVGID_63_);
			}
			.st71 {
				fill: url(#SVGID_64_);
			}
			.st72 {
				fill: url(#SVGID_65_);
			}
			.st73 {
				fill: url(#SVGID_66_);
			}
			.st74 {
				fill: url(#SVGID_67_);
			}
			.st75 {
				fill: url(#SVGID_68_);
			}
			.st76 {
				fill: #44171d;
			}
			.st77 {
				fill: url(#SVGID_69_);
			}
			.st78 {
				fill: url(#SVGID_70_);
			}
			.st79 {
				fill: url(#SVGID_71_);
			}
			.st80 {
				fill: url(#SVGID_72_);
			}
		}
	}
	&-scroll {
		position: relative;
		overflow: hidden;
	}
	&-stands-svg {
		#game-selection {
			.st0 {
				fill: #5f0015;
			}
			.st1 {
				fill: #42210b;
			}
			.st2 {
				fill: #603813;
			}
			.st3 {
				fill: #ffff00;
			}
			.st4 {
				fill: #ffffff;
			}
			.st5 {
				fill: #00a99d;
			}
			.st6 {
				fill: #0000ff;
			}
			.st7 {
				fill: #8cc63f;
			}
			.st8 {
				fill: #ff7bac;
			}
			.st9 {
				fill: #22b573;
			}
			.st10 {
				fill: #ff3f1f;
			}
			.st11 {
				fill: #00dfdb;
			}
			.st12 {
				fill: #492a0f;
			}
			.st13 {
				fill: #39b54a;
			}
			.st14 {
				fill: #006837;
			}
			.st15 {
				fill: #c1272d;
			}
		}
	}
	&-mod-clack {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.script-modal {
			.st0 {
				fill: #4a697c;
			}
			.st1 {
				fill: #1b1b1b;
			}
			.st2 {
				opacity: 0.15;
				stroke: #000000;
				stroke-width: 0.25;
				stroke-miterlimit: 10;
				enable-background: new;
			}
			.st3 {
				fill: #e6e4e5;
			}
			.st4 {
				fill: none;
			}
			.st5 {
				fill: #e6b849;
			}
			.st6 {
				opacity: 0.35;
			}
			.st7 {
				fill: #ffffff;
			}
			.st8 {
				fill: #aa8d49;
			}
			.st9 {
				opacity: 0.1;
				stroke: #000000;
				stroke-width: 0.25;
				stroke-miterlimit: 10;
				enable-background: new;
			}
			.st10 {
				opacity: 0.43;
				fill: #ffffff;
				enable-background: new;
			}
			.st11 {
				opacity: 5e-2;
			}
			.st12 {
				opacity: 3e-2;
			}
			.st13 {
				opacity: 0.44;
				fill: #aa8d49;
				enable-background: new;
			}
			.st14 {
				opacity: 0.15;
				enable-background: new;
			}
			.st15 {
				opacity: 0.15;
			}
			.st16 {
				fill-rule: evenodd;
				clip-rule: evenodd;
			}
			.st17 {
				fill: #fef2e9;
			}
			.st18 {
				fill: #edd0bc;
			}
			.st19 {
				display: none;
				fill: #edd0bc;
			}
			.st20 {
				fill-rule: evenodd;
				clip-rule: evenodd;
				fill: #ebcab4;
			}
			.st21 {
				fill: #ebcab4;
			}
		}
	}
	&--is-game-menu {
		overflow: hidden;

		.ap-modal--game-loader {
			display: none;
		}
	}

	&--is-game {
		overflow: hidden;

		.ap-modal--game-loader {
			.ap-load-bar-progress {
				width: 51%;
			}
		}
	}
}
