.ap {
	&-overlay {
		background-color: rgba(#000, 1);
		display: none;
		color: #fff;
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		z-index: 999999;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		.ap-btn-close {
			color: $base;
			font-size: 1.2em;
			height: 2.6em;
			line-height: 1.5em;
			position: absolute;
			right: 1em;
			text-align: center;
			top: 1em;
			transition: 0.3s all;
			width: 2.6em;
			background: none;
			box-shadow: none;
			padding: 0.2em;

			.icon {
				fill: $base;
			}
		}
	}

	&-modal {
		&-flx {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 1em;
		}
		// Show
		&--is-visible {
			display: block;
		}

		// &-login
		&--login,
		&--login-error {
			.ap-modal {
				text-align: center;
				max-width: 34em;
				width: 100%;

				&-wrapp {
					max-width: 24em;
					width: 100%;
				}
			}
			.ap-tt,
			.ap-txt {
				font-family: $secondFont;
			}

			.ap-tt {
				&--day {
					font-size: 2.8em;
				}

				&:nth-child(2) {
					padding: 0.6em;
				}
			}

			.ap-txt {
				max-width: 10em;
				margin: auto;
				font-size: 1.4em;
			}
		}

		&--login {
			.ap-flx {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				padding: 1em;
			}

			.ap-modal-nav {
				padding-top: 2em;

				.ap-btn {
					width: 7.4em;
					font-size: 1em;
					height: 7.4em;
					padding: 1em;

					.icon {
						fill: #fff;
					}

					&:first-child {
						margin-right: 1em;
					}
				}
			}
		}

		&--login-error {
			.ap-tt {
				font-size: 2.8em;
			}
			.ap-modal-nav {
				margin: 2em auto;
			}
			.ap-btn {
				max-width: 8em;
				margin: auto;
				padding: 0.2em 1.5em;
			}
		}
	}
}
