<g id="tree-vector" class="st5">
	<g id="tree">
		<rect x="376.9" y="615" class="st6" width="42" height="85.8"/>
		<polygon class="st7" points="481.8,566.3 524.2,566.3 450.2,486.2 484.1,486.2 409.3,404 455.7,404 397.9,346.2 340.1,404 386.5,404 311.7,486.2 345.6,486.2 271.6,566.3 314,566.3 246.8,635.8 397.9,635.8 549,635.8"/>
	</g>
	<g id="day-one-asset"> <polygon class="st8" points="457.9,538.3 431.9,538.3 418.9,560.8 431.9,583.3 457.9,583.3 470.9,560.8"/>
	</g>
	<g id="day-two"> <polygon class="st9" points="369.2,503.2 353.6,503.2 345.7,516.7 353.6,530.3 369.2,530.3 377,516.7"/>
	</g>
	<g id="day-tree"> <polygon class="st10" points="323.8,560.8 308.2,560.8 300.3,574.3 308.2,587.9 323.8,587.9 331.6,574.3"/>
	</g>
	<g id="day-four"> <polygon class="st10" points="424.1,434.6 413.8,434.6 408.7,443.5 413.8,452.4 424.1,452.4 429.3,443.5"/>
	</g>
</g>
