// Navidad Cinépolis 2019
// Gulp 4 included :: Gulp render console: Gulp

@import "node_modules/rupture-sass/rupture";
@import "./components/cmps.settings";
@import "./components/cmps.fonts";

body {
	color: #222;
	font-family: $baseFont;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	// Macbook con Barra
	@media screen and (min-width: 1200px) and (max-height: 670px) {
		font-size: 12px;
	}
}

// Tools
@import "./components/cmps.normalizer";
@import "./components/cmps.scrollbar";

// Layout
@import "./layout/layout";
@import "./layout/buttons";
@import "./layout/footer";
@import "./layout/modal";

// Pages
@import "./pages/ui-settings";
@import "./pages/opa-intro";
@import "./pages/opa-terms";
@import "./pages/game-menu";

// Games
@import "./games/game.layout";
@import "./games/game.puzzle";

// Delightfull
@import "./layout/delightfull";
