// Navidad Cinépolis 2019
// Gulp 4 included :: Gulp render console: Gulp

@import "node_modules/rupture-sass/rupture";
@import "./components/cmps.settings";
@import "./components/cmps.fonts";

body {
	color: #222;
	font-family: $baseFont;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Tools
@import "./components/cmps.normalizer";

// Layout
@import "./layout/layout";
@import "./layout/buttons";
@import "./layout/footer";
@import "./layout/modal";

// Pages
@import "./pages/ui-settings";
@import "./pages/opa-intro";
@import "./pages/opa-terms";
@import "./pages/game-menu";

// Delightfull
@import "./layout/delightfull";
