// Colors
$base: #ff5155;
$baseDrk: #44171d;
$green: #00cf77;
$greenDrk: #003519;
$fontBase: #707070;
$fontSubase: #2a2a2a;

// Fonts
$baseFont: "Montserrat", sans-serif;
$secondFont: "Lato", sans-serif;
