article#ap-modal--leave.ap-overlay.ap-modal--leave
	.ap-modal-flx
		.ap-modal-wrapp
			a.ap-btn.ap-modal-close.ap-btn-close(href="#")
				svg.icon
					use(xlink:href="#icon-close")

			.ap-overlay-area
				.ap-modal
					h2.ap-data.ap-tt.ap-leave-tt Lorem
					p.ap-txt.ap-leave-info lorem

					nav.ap-modal-nav
						div.ap-flx
							a.ap-btn.ap-mod-close.ap-leave-btn(href="#") Lorem
							a.ap-btn.ap-mod-close.ap-leave-btn-back(href="#") Lorem
