article#ap-modal--login-error.ap-overlay.ap-modal--login-error
	.ap-modal-flx
		.ap-modal-wrapp
			a.ap-btn.ap-modal-close.ap-btn-close(href="#")
				svg.icon
					use(xlink:href="#icon-close")

			.ap-overlay-area
				.ap-modal
					p Login error