article#ap-modal--game-loader.ap-overlay.ap-modal--game-loader.ap-modal-script.ap-modal--is-visible
	.ap-modal-flx
		.ap-modal-wrapp
			.ap-overlay-area
				.ap-modal
					header.ap-instructions-head
						h2.ap-data.ap-tt.ap-load-tt Cargando

					.ap-load-bar
						.ap-load-bar-progress

	include ../part.master/part.script.pug
