article#ap-modal--instructions.ap-overlay.ap-modal--instructions.ap-modal-script
	.ap-modal-flx
		.ap-modal-wrapp
			a.ap-btn.ap-modal-close.ap-btn-close(href="#")
				svg.icon
					use(xlink:href="#icon-close")

			.ap-overlay-area
				.ap-modal
					header.ap-instructions-head
						h2.ap-data.ap-tt.ap-instructions-tt Lorem
						h2.ap-data.ap-ttt.ap-instructions-ttt Lorem
					div.ap-instructions-shape
						div.ap-shape
						div.ap-instructions-info
						figure.ap-inst-img.ap-instructions-img

					nav.ap-modal-nav
						div.ap-flx
							a#ap-play-game.ap-btn.ap-play-btn(href="#") Lorem

	include ../part.master/part.script.pug
