article#ap-modal--login-error.ap-overlay.ap-modal--login-error
	.ap-modal-flx
		.ap-modal-wrapp
			a.ap-btn.ap-modal-close.ap-btn-close(href="#")
				svg.icon
					use(xlink:href="#icon-close")

			.ap-overlay-area
				.ap-modal
					h2.ap-data.ap-tt.ap-login-error-tt Lorem
					p.ap-txt.ap-login-error-info lorem

					nav.ap-modal-nav
						div.ap-flx
							a.ap-btn.ap-mod-close.ap-login-error-btn(href="#") Lorem
