article#ap-modal--holdon.ap-overlay.ap-modal--holdon.ap-modal-script
	.ap-modal-flx
		.ap-modal-wrapp
			a.ap-btn.ap-modal-close.ap-btn-close(href="#")
				svg.icon
					use(xlink:href="#icon-close")

			.ap-overlay-area
				.ap-modal
					header.ap-instructions-head
						h2.ap-data.ap-tt.ap-hold-tt Lorem

					div.ap-instructions-shape
						div.ap-hold-info

	include ../part.master/part.script.pug
