article#ap-modal--login.ap-overlay.ap-modal--login
	.ap-modal-flx
		.ap-modal-wrapp
			a.ap-btn.ap-modal-close.ap-btn-close(href="#")
				svg.icon
					use(xlink:href="#icon-close")

			.ap-overlay-area
				.ap-modal
					h2.ap-tt.ap-tt--day Día #[span.ap-data.ap-login-day]
					h2.ap-data.ap-tt.ap-login-tt Lorem
					p.ap-txt.ap-login-info lorem

					nav.ap-modal-nav
						p.ap-txt Incia sesión con:

						div.ap-flx
							a.ap-btn.ap-login-wfacebook(href="game-menu.html")
								svg.icon
									use(xlink:href="#icon-facebook")

							a.ap-btn.ap-login-wtwitter(href="game-menu.html")
								svg.icon
									use(xlink:href="#icon-twiter")
