article#ap-modal--instructions.ap-overlay.ap-modal--instructions
	.ap-modal-flx
		.ap-modal-wrapp
			a.ap-btn.ap-modal-close.ap-btn-close(href="#")
				svg.icon
					use(xlink:href="#icon-close")

			.ap-overlay-area
				.ap-modal
					h2.ap-data.ap-tt.ap-instructions-tt Lorem
					h2.ap-data.ap-tt.ap-instructions-ttt Lorem
					div.ap-instructions-info

					figure.ap-inst-img.ap-instructions-img
