extend ../layout/_layout

block content
	section.ap-game-rompecabezas.ap-game-stage
		article.ap-game-area

			//- Rompecabezas
			.ap-puzzle
				.ap-counter
					p.ap-txt Tiempo restante
					p.ap-txt.ap-txt--timer 2:55

				.ap-puzzle-cont
					img(src="/Content/img/puzzle/rompe-01.jpg", alt="Animals crossing", class="ap-puzzle-img")

	.ap-stands-svg
		.ap-stands-bg
			.ap-game-bg
				.ap-game-stant

	include ../partials/part.master/part.footer.pug

block insideModals
	include ../partials/part.modals/modal-box--game-loading

block insideScripts
	script(src="/Content/scripts/games-dev/jquery.jqpuzzle.full.js")
	script.
		$(function(){
			$('.ap-puzzle-img').jqPuzzle({
				rows: 3,
				cols: 3,
				hole: 9,
				numbers: !true,
				shuffle: true
			});
		});
