extend ../layout/_layout

block content
	section.ap-game-menu.ap-game-end
		.ap-stands-svg
			.ap-stands-bg
			.ap-game-bg

			include ../partials/part.master/part.pine.pug

	//- Footer
	include ../partials/part.master/part.footer.pug

block insideModals
	include ../partials/part.modals/modal-box--game-loading.pug

block insideScripts
