extend ../layout/_layout

block content
	section.ap-game-trivia.ap-game-stage
		article.ap-game-area

			//- Trivia
			.ap-counter
				p.ap-txt Tiempo restante
				p.ap-txt.ap-txt--timer 2:55

	.ap-stands-svg
		.ap-stands-bg
			.ap-game-bg
				.ap-game-stant

	include ../partials/part.master/part.footer.pug

block insideModals
	include ../partials/part.modals/modal-box--game-loading

block insideScripts
