extend ../layout/_layout

block content
	section.ap-game-menu.ap-game
		.ap-game-area
			a.ap-btn.click-id(href="#") Jugar

	.ap-stands-svg
		.ap-stands-bg
			.ap-game-bg


	include ../partials/part.master/part.footer.pug

block insideModals
	include ../partials/part.modals/modal-box--game-loading
	include ../partials/part.modals/modal-box--loading-global

