head
	meta(http-equiv="Content-Type", content="text/html charset=utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover")
	meta(name="description", content="Navidad Cinépolis")
	meta(name="author", content="IA Interactive")
	title Navidad Cinépolis 2019

	script.
		var $day = 1;
		var $error = false;

	link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800', rel='stylesheet', type='text/css')
	link(href="/Content/css/master.css", rel='stylesheet', type='text/css')
