@charset "UTF-8";
@font-face {
  font-family: 'chewy';
  src: url("../fonts/chewy-regular.eot");
  src: url("../fonts/chewy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/chewy-regular.woff") format("woff"), url("../fonts/chewy-regular.ttf") format("truetype"), url("../fonts/chewy-regular.svg#chewy") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: url("../img/bg-design-areas.png") no-repeat center;
  color: #222;
  font-family: "Lato", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  @media screen and (min-width: 1200px) and (max-height: 670px) {
    body {
      font-size: 12px; } }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0; }

.f-left {
  float: left; }

.f-right {
  float: right; }

img:not([src]):not([srcset]) {
  visibility: hidden; }

.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em; }

q {
  quotes: "“" "”" "‘" "’"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: bottom; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

i img {
  vertical-align: bottom;
  max-width: 100%; }

select {
  width: 100%; }

option {
  background-color: #fff;
  padding: 0.2em; }

svg {
  width: 100%;
  height: 100%; }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block; }

.ps-container > .ps-scrollbar-y-rail {
  background-color: rgba(112, 112, 112, 0.2);
  display: none;
  -webkit-filter: none;
          filter: none;
  opacity: 1;
  position: absolute;
  right: 3px;
  width: 0.5em; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.5em;
  position: absolute;
  -webkit-transition: background-color 0.2s linear 0s;
  transition: background-color 0.2s linear 0s;
  width: 0.5em; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 1; }

.ps-container > .ps-scrollbar-x-rail.in-scrolling,
.ps-container > .ps-scrollbar-y-rail.in-scrolling,
.ps-container:hover > .ps-scrollbar-x-rail.in-scrolling,
.ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
  background-color: #000;
  opacity: 1; }

.ps-container:hover > .ps-scrollbar-x-rail:hover,
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  opacity: 0.1; }

.ap-intro-ui #logo-navidad .st0 {
  fill: #006633; }

.ap-intro-ui #logo-navidad .st1 {
  fill: none; }

.ap-intro-ui #logo-navidad .st2 {
  fill: url(#SVGID_1_); }

.ap-intro-ui #logo-navidad .st3 {
  fill: url(#SVGID_2_); }

.ap-intro-ui #logo-navidad .st4 {
  fill: url(#SVGID_3_); }

.ap-intro-ui #logo-navidad .st5 {
  fill: url(#SVGID_4_); }

.ap-intro-ui #logo-navidad .st6 {
  fill: url(#SVGID_5_); }

.ap-intro-ui #logo-navidad .st7 {
  fill: url(#SVGID_6_); }

.ap-intro-ui #logo-navidad .st8 {
  fill: url(#SVGID_7_); }

.ap-intro-ui #logo-navidad .st9 {
  fill: url(#SVGID_8_); }

.ap-intro-ui #logo-navidad .st10 {
  fill: url(#SVGID_9_); }

.ap-intro-ui #logo-navidad .st11 {
  fill: url(#SVGID_10_); }

.ap-intro-ui #logo-navidad .st12 {
  fill: url(#SVGID_11_); }

.ap-intro-ui #logo-navidad .st13 {
  fill: #8e690c; }

.ap-intro-ui #logo-navidad .st14 {
  fill: url(#SVGID_12_); }

.ap-intro-ui #logo-navidad .st15 {
  fill: url(#SVGID_13_); }

.ap-intro-ui #logo-navidad .st16 {
  fill: url(#SVGID_14_); }

.ap-intro-ui #logo-navidad .st17 {
  fill: url(#SVGID_15_); }

.ap-intro-ui #logo-navidad .st18 {
  fill: url(#SVGID_16_); }

.ap-intro-ui #logo-navidad .st19 {
  fill: url(#SVGID_17_); }

.ap-intro-ui #logo-navidad .st20 {
  fill: url(#SVGID_18_); }

.ap-intro-ui #logo-navidad .st21 {
  fill: url(#SVGID_19_); }

.ap-intro-ui #logo-navidad .st22 {
  fill: url(#SVGID_20_); }

.ap-intro-ui #logo-navidad .st23 {
  fill: url(#SVGID_21_); }

.ap-intro-ui #logo-navidad .st24 {
  fill: url(#SVGID_22_); }

.ap-intro-ui #logo-navidad .st25 {
  fill: #003519; }

.ap-intro-ui #logo-navidad .st26 {
  fill: url(#SVGID_23_); }

.ap-intro-ui #logo-navidad .st27 {
  fill: url(#SVGID_24_); }

.ap-intro-ui #logo-navidad .st28 {
  fill: url(#SVGID_25_); }

.ap-intro-ui #logo-navidad .st29 {
  fill: url(#SVGID_26_); }

.ap-intro-ui #logo-navidad .st30 {
  fill: url(#SVGID_27_); }

.ap-intro-ui #logo-navidad .st31 {
  fill: url(#SVGID_28_); }

.ap-intro-ui #logo-navidad .st32 {
  fill: url(#SVGID_29_); }

.ap-intro-ui #logo-navidad .st33 {
  fill: url(#SVGID_30_); }

.ap-intro-ui #logo-navidad .st34 {
  opacity: 0.8; }

.ap-intro-ui #logo-navidad .st35 {
  fill: #ffffff; }

.ap-intro-ui #logo-navidad .st36 {
  fill: url(#SVGID_31_); }

.ap-intro-ui #logo-navidad .st37 {
  opacity: 0.7; }

.ap-intro-ui #logo-navidad .st38 {
  fill: url(#SVGID_32_); }

.ap-intro-ui #logo-navidad .st39 {
  fill: url(#SVGID_33_); }

.ap-intro-ui #logo-navidad .st40 {
  fill: url(#SVGID_34_); }

.ap-intro-ui #logo-navidad .st41 {
  fill: url(#SVGID_35_); }

.ap-intro-ui #logo-navidad .st42 {
  fill: #7c2830; }

.ap-intro-ui #logo-navidad .st43 {
  fill: url(#SVGID_36_); }

.ap-intro-ui #logo-navidad .st44 {
  fill: url(#SVGID_37_); }

.ap-intro-ui #logo-navidad .st45 {
  fill: url(#SVGID_38_); }

.ap-intro-ui #logo-navidad .st46 {
  fill: url(#SVGID_39_); }

.ap-intro-ui #logo-navidad .st47 {
  fill: url(#SVGID_40_); }

.ap-intro-ui #logo-navidad .st48 {
  fill: url(#SVGID_41_); }

.ap-intro-ui #logo-navidad .st49 {
  fill: url(#SVGID_42_); }

.ap-intro-ui #logo-navidad .st50 {
  fill: url(#SVGID_43_); }

.ap-intro-ui #logo-navidad .st51 {
  fill: url(#SVGID_44_); }

.ap-intro-ui #logo-navidad .st52 {
  fill: url(#SVGID_45_); }

.ap-intro-ui #logo-navidad .st53 {
  fill: url(#SVGID_46_); }

.ap-intro-ui #logo-navidad .st54 {
  fill: url(#SVGID_47_); }

.ap-intro-ui #logo-navidad .st55 {
  fill: url(#SVGID_48_); }

.ap-intro-ui #logo-navidad .st56 {
  fill: url(#SVGID_49_); }

.ap-intro-ui #logo-navidad .st57 {
  fill: url(#SVGID_50_); }

.ap-intro-ui #logo-navidad .st58 {
  fill: url(#SVGID_51_); }

.ap-intro-ui #logo-navidad .st59 {
  fill: url(#SVGID_52_); }

.ap-intro-ui #logo-navidad .st60 {
  fill: url(#SVGID_53_); }

.ap-intro-ui #logo-navidad .st61 {
  fill: url(#SVGID_54_); }

.ap-intro-ui #logo-navidad .st62 {
  fill: url(#SVGID_55_); }

.ap-intro-ui #logo-navidad .st63 {
  fill: url(#SVGID_56_); }

.ap-intro-ui #logo-navidad .st64 {
  fill: url(#SVGID_57_); }

.ap-intro-ui #logo-navidad .st65 {
  fill: url(#SVGID_58_); }

.ap-intro-ui #logo-navidad .st66 {
  fill: url(#SVGID_59_); }

.ap-intro-ui #logo-navidad .st67 {
  fill: url(#SVGID_60_); }

.ap-intro-ui #logo-navidad .st68 {
  fill: url(#SVGID_61_); }

.ap-intro-ui #logo-navidad .st69 {
  fill: url(#SVGID_62_); }

.ap-intro-ui #logo-navidad .st70 {
  fill: url(#SVGID_63_); }

.ap-intro-ui #logo-navidad .st71 {
  fill: url(#SVGID_64_); }

.ap-intro-ui #logo-navidad .st72 {
  fill: url(#SVGID_65_); }

.ap-intro-ui #logo-navidad .st73 {
  fill: url(#SVGID_66_); }

.ap-intro-ui #logo-navidad .st74 {
  fill: url(#SVGID_67_); }

.ap-intro-ui #logo-navidad .st75 {
  fill: url(#SVGID_68_); }

.ap-intro-ui #logo-navidad .st76 {
  fill: #44171d; }

.ap-intro-ui #logo-navidad .st77 {
  fill: url(#SVGID_69_); }

.ap-intro-ui #logo-navidad .st78 {
  fill: url(#SVGID_70_); }

.ap-intro-ui #logo-navidad .st79 {
  fill: url(#SVGID_71_); }

.ap-intro-ui #logo-navidad .st80 {
  fill: url(#SVGID_72_); }

.ap-scroll {
  position: relative;
  overflow: hidden; }

.ap-stands-svg .dinamic-rack .st0 {
  fill: #101030; }

.ap-stands-svg .dinamic-rack .st7 {
  opacity: 0.48; }

.ap-stands-svg .dinamic-rack .st8 {
  fill: #292665; }

.ap-stands-svg .dinamic-rack .st9 {
  fill: #202051; }

.ap-stands-svg .dinamic-rack .st17 {
  opacity: 0.89; }

.ap-stands-svg .dinamic-rack .st18 {
  fill: #1b1b1b; }

.ap-stands-svg .dinamic-rack .st19 {
  opacity: 0.34; }

.ap-stands-svg .dinamic-rack .st20 {
  fill: #fff; }

.ap-stands-svg .dinamic-rack .st25 {
  opacity: 0.63;
  fill: #211915; }

.ap-stands-svg .dinamic-rack .st26 {
  opacity: 0.39; }

.ap-stands-svg .dinamic-rack .st30 {
  fill: #bc9e6c; }

.ap-stands-svg .dinamic-rack .st31 {
  fill: #af8241; }

.ap-stands-svg .dinamic-rack .st32 {
  fill: #2a9b47; }

.ap-stands-svg .dinamic-rack .st33 {
  fill: #4fc974; }

.ap-stands-svg .dinamic-rack .st34 {
  fill: none;
  stroke: #000;
  stroke-width: 0.25;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st35 {
  fill: #9dffbe; }

.ap-stands-svg .dinamic-rack .st36 {
  opacity: 0.21;
  fill: #211915; }

.ap-stands-svg .dinamic-rack .st37 {
  fill: #2262d3; }

.ap-stands-svg .dinamic-rack .st38 {
  fill: #4781ff; }

.ap-stands-svg .dinamic-rack .st39 {
  fill: none;
  stroke: #ffc200;
  stroke-width: 2;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st40,
.ap-stands-svg .dinamic-rack .st41 {
  fill: #ff4e4e; }

.ap-stands-svg .dinamic-rack .st41 {
  opacity: 0.49; }

.ap-stands-svg .dinamic-rack .st42 {
  opacity: 0.28;
  fill: #fff; }

.ap-stands-svg .dinamic-rack .st43 {
  fill: #ffbe06; }

.ap-stands-svg .dinamic-rack .st44 {
  fill: #5a93f9; }

.ap-stands-svg .dinamic-rack .st45 {
  fill: #997a4d; }

.ap-stands-svg .dinamic-rack .st46 {
  fill: #dbb783; }

.ap-stands-svg .dinamic-rack .st48 {
  fill: #9a999e; }

.ap-stands-svg .dinamic-rack .st49 {
  fill: #1f1b20; }

.ap-stands-svg .dinamic-rack .st50 {
  fill: #ccb087; }

.ap-stands-svg .dinamic-rack .st51 {
  opacity: 0.38;
  fill: #997a4d; }

.ap-stands-svg .dinamic-rack .st52 {
  opacity: 0.1;
  fill: #211915; }

.ap-stands-svg .dinamic-rack .st54 {
  opacity: 0.15; }

.ap-stands-svg .dinamic-rack .st55 {
  opacity: 0.67;
  fill: #211915; }

.ap-stands-svg .dinamic-rack .st59,
.ap-stands-svg .dinamic-rack .st60 {
  fill: #616161;
  stroke: #464646;
  stroke-width: 0.25;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st60 {
  fill: #bababa; }

.ap-stands-svg .dinamic-rack .st62 {
  fill: #252525; }

.ap-stands-svg .dinamic-rack .st64 {
  fill: none; }

.ap-stands-svg .dinamic-rack .st66 {
  fill: #c05050; }

.ap-stands-svg .dinamic-rack .st67 {
  opacity: 0.21; }

.ap-stands-svg .dinamic-rack .st69 {
  fill: #a1a266; }

.ap-stands-svg .dinamic-rack .st70 {
  fill: #f4e84c; }

.ap-stands-svg .dinamic-rack .st71 {
  opacity: 0.2;
  fill: #d5f4ff; }

.ap-stands-svg .dinamic-rack .st72 {
  fill: silver; }

.ap-stands-svg .dinamic-rack .st73 {
  fill: #888; }

.ap-stands-svg .dinamic-rack .st76 {
  fill: none;
  stroke: #8fff72;
  stroke-linecap: round;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st77 {
  opacity: 0.38;
  fill: #ffbe06; }

.ap-stands-svg .dinamic-rack .st79 {
  opacity: 0.67; }

.ap-stands-svg .dinamic-rack .st80 {
  fill: #211915; }

.ap-stands-svg .dinamic-rack .st81 {
  fill: #f64e4e; }

.ap-stands-svg .dinamic-rack .st82 {
  fill: #ff8d83; }

.ap-stands-svg .dinamic-rack .st83 {
  fill: #fff154; }

.ap-stands-svg .dinamic-rack .st84 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #a78830; }

.ap-stands-svg .dinamic-rack .st86 {
  fill: #959595; }

.ap-stands-svg .dinamic-rack .st87 {
  fill: #d5f4ff; }

.ap-stands-svg .dinamic-rack .st88 {
  fill: #272727; }

.ap-stands-svg .dinamic-rack .st89 {
  fill: #434343; }

.ap-stands-svg .dinamic-rack .st90 {
  fill: #7a999a; }

.ap-stands-svg .dinamic-rack .st91 {
  fill: none;
  stroke: #000;
  stroke-width: 0.5; }

.ap-stands-svg .dinamic-rack .st92 {
  fill: #a9a9a9; }

.ap-stands-svg .dinamic-rack .st94 {
  fill: #363636; }

.ap-stands-svg .dinamic-rack .st99 {
  fill: #1e5ed1; }

.ap-stands-svg .dinamic-rack .st101 {
  fill: #c8c8c8; }

.ap-stands-svg .dinamic-rack .st103 {
  fill: #d9d84c; }

.ap-stands-svg .dinamic-rack .st112 {
  fill: #585858;
  stroke: #000;
  stroke-width: 5e-2;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st113 {
  fill: #fff; }

.ap-stands-svg .dinamic-rack .st113,
.ap-stands-svg .dinamic-rack .st114 {
  stroke: #000;
  stroke-width: 5e-2;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st116 {
  fill: #202020; }

.ap-stands-svg .dinamic-rack .st117 {
  fill: #595347; }

.ap-stands-svg .dinamic-rack .st118 {
  fill: #b59a35; }

.ap-stands-svg .dinamic-rack .st119 {
  fill: #282828; }

.ap-stands-svg .dinamic-rack .st121 {
  fill: #90792b; }

.ap-stands-svg .dinamic-rack .st463 {
  fill: #ffc200; }

.ap-stands-svg .dinamic-rack .st464 {
  opacity: 0.38;
  fill: #4781ff; }

.ap-stands-svg .dinamic-rack .st465 {
  fill: #5a4c3e; }

.ap-stands-svg .dinamic-rack .st468 {
  fill: #27a046; }

.ap-stands-svg .dinamic-rack .st469 {
  fill: #6d5f47; }

.ap-stands-svg .dinamic-rack .st470,
.ap-stands-svg .dinamic-rack .st471 {
  fill: none;
  stroke: #000;
  stroke-width: 0.1;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st471 {
  stroke: #fcfeff; }

.ap-stands-svg .dinamic-rack .st472 {
  fill-rule: evenodd;
  clip-rule: evenodd; }

.ap-stands-svg .dinamic-rack .st473 {
  fill: #625124; }

.ap-stands-svg .dinamic-rack .st474 {
  fill: #c77474; }

.ap-stands-svg .dinamic-rack .st476 {
  fill: #7985db; }

.ap-stands-svg .dinamic-rack .st477 {
  fill: #3d3d3d; }

.ap-stands-svg .dinamic-rack .st478 {
  fill: #b9b9b9; }

.ap-stands-svg .dinamic-rack .st480 {
  fill: #f2f2f2; }

.ap-stands-svg .dinamic-rack .st483 {
  fill: #27411b; }

.ap-stands-svg .dinamic-rack .st484 {
  fill: #751c1a; }

.ap-stands-svg .dinamic-rack .st485 {
  opacity: 0.75; }

.ap-stands-svg .dinamic-rack .st488 {
  fill: #cea83c; }

.ap-stands-svg .dinamic-rack .st489 {
  fill: #c9b382; }

.ap-stands-svg .dinamic-rack .st490 {
  fill: #a18c64; }

.ap-stands-svg .dinamic-rack .st491 {
  fill: #afde92; }

.ap-stands-svg .dinamic-rack .st492 {
  fill: #81a26a; }

.ap-stands-svg .dinamic-rack .st493 {
  fill: #806f52; }

.ap-stands-svg .dinamic-rack .st494 {
  fill: #a48f69; }

.ap-stands-svg .dinamic-rack .st495 {
  fill: #4e4434; }

.ap-stands-svg .dinamic-rack .st496 {
  fill: none;
  stroke: #4e4434;
  stroke-miterlimit: 10; }

.ap-stands-svg .dinamic-rack .st501 {
  opacity: 0.2; }

.ap-stands-svg .dinamic-rack .st501,
.ap-stands-svg .dinamic-rack .st502,
.ap-stands-svg .dinamic-rack .st505 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #d5f4ff; }

.ap-stands-svg .dinamic-rack .st505 {
  fill: #e0bc3f; }

.ap-stands-svg .dinamic-rack .st511 {
  fill: #ede8e1; }

.ap-stands-svg .dinamic-rack .st512 {
  fill: #393939; }

.ap-stands-svg .dinamic-rack .st514 {
  fill: #e8e4cc; }

.ap-stands-svg .dinamic-rack .st516 {
  fill: #757575; }

.ap-stands-svg .dinamic-rack .st517 {
  fill: #c2c2c2; }

.ap-stands-svg .dinamic-rack .st519 {
  fill: #811212; }

.ap-stands-svg .dinamic-rack .st520 {
  fill: #601010; }

.ap-stands-svg .dinamic-rack .st521 {
  fill: #cb6a6a; }

.ap-stands-svg .dinamic-rack .st523 {
  fill: #c07d5d; }

.ap-stands-svg .dinamic-rack .st524 {
  fill: #d0ccc3; }

.ap-stands-svg .dinamic-rack .st526 {
  -webkit-clip-path: url(#XMLID_4_);
          clip-path: url(#XMLID_4_);
  fill: #453528; }

.ap-stands-svg .dinamic-rack .st527 {
  fill: #9e6245; }

.ap-stands-svg .dinamic-rack .st528 {
  -webkit-clip-path: url(#XMLID_5_);
          clip-path: url(#XMLID_5_);
  fill: #3a281e; }

.ap-stands-svg .dinamic-rack .st530 {
  fill: #44362e; }

.ap-stands-svg .dinamic-rack .st531 {
  fill: #382416; }

.ap-stands-svg .dinamic-rack .st533 {
  fill: #2d323f; }

.ap-stands-svg .dinamic-rack .st537 {
  fill: #a6a6a6; }

.ap-stands-svg .dinamic-rack .st538 {
  fill: #ededed; }

.ap-stands-svg .dinamic-rack .st541 {
  fill: #8a9197; }

.ap-stands-svg .dinamic-rack .st543 {
  fill: #4f1515; }

.ap-stands-svg .dinamic-rack .st546,
.ap-stands-svg .dinamic-rack .st547 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #811212; }

.ap-stands-svg .dinamic-rack .st547 {
  fill: #5e1111; }

.ap-stands-svg .dinamic-rack .st548 {
  fill: #c17b00; }

.ap-stands-svg .dinamic-rack .st551 {
  fill: #415078; }

.ap-stands-svg .dinamic-rack .st553 {
  fill: #a8a65f; }

.ap-mod-clack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .ap-mod-clack .script-modal .st0 {
    fill: #4a697c; }
  .ap-mod-clack .script-modal .st1 {
    fill: #1b1b1b; }
  .ap-mod-clack .script-modal .st2 {
    opacity: 0.15;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
    enable-background: new; }
  .ap-mod-clack .script-modal .st3 {
    fill: #e6e4e5; }
  .ap-mod-clack .script-modal .st4 {
    fill: none; }
  .ap-mod-clack .script-modal .st5 {
    fill: #e6b849; }
  .ap-mod-clack .script-modal .st6 {
    opacity: 0.35; }
  .ap-mod-clack .script-modal .st7 {
    fill: #ffffff; }
  .ap-mod-clack .script-modal .st8 {
    fill: #aa8d49; }
  .ap-mod-clack .script-modal .st9 {
    opacity: 0.1;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
    enable-background: new; }
  .ap-mod-clack .script-modal .st10 {
    opacity: 0.43;
    fill: #ffffff;
    enable-background: new; }
  .ap-mod-clack .script-modal .st11 {
    opacity: 5e-2; }
  .ap-mod-clack .script-modal .st12 {
    opacity: 3e-2; }
  .ap-mod-clack .script-modal .st13 {
    opacity: 0.44;
    fill: #aa8d49;
    enable-background: new; }
  .ap-mod-clack .script-modal .st14 {
    opacity: 0.15;
    enable-background: new; }
  .ap-mod-clack .script-modal .st15 {
    opacity: 0.15; }
  .ap-mod-clack .script-modal .st16 {
    fill-rule: evenodd;
    clip-rule: evenodd; }
  .ap-mod-clack .script-modal .st17 {
    fill: #fef2e9; }
  .ap-mod-clack .script-modal .st18 {
    fill: #edd0bc; }
  .ap-mod-clack .script-modal .st19 {
    display: none;
    fill: #edd0bc; }
  .ap-mod-clack .script-modal .st20 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ebcab4; }
  .ap-mod-clack .script-modal .st21 {
    fill: #ebcab4; }

.ap-frame .st0 {
  fill: #ffffff; }

.ap-frame .st1 {
  fill: #4781ff; }

.ap-frame .st2 {
  opacity: 0.21;
  fill: #211915; }

.ap-frame .st3 {
  opacity: 0.1;
  fill: #211915; }

.ap-frame .st4 {
  opacity: 0.89; }

.ap-frame .st5 {
  fill: #1b1b1b; }

.ap-frame .st6 {
  opacity: 6e-2;
  fill: #211915; }

.ap-frame .st7 {
  opacity: 0.46;
  fill: url(#SVGID_1_); }

.ap-frame .st8 {
  opacity: 0.55;
  fill: url(#SVGID_2_); }

.ap-frame .st9 {
  fill: url(#SVGID_3_); }

.ap-frame .st10 {
  fill: url(#SVGID_4_); }

.ap-frame .st11 {
  opacity: 0.55;
  fill: url(#SVGID_5_); }

.ap-frame .st12 {
  fill: url(#SVGID_6_); }

.ap-frame .st13 {
  fill: url(#SVGID_7_); }

.ap-frame .st14 {
  opacity: 0.77; }

.ap-frame .st15 {
  opacity: 0.46;
  fill: url(#SVGID_8_); }

.ap-frame .st16 {
  opacity: 0.55;
  fill: url(#SVGID_9_); }

.ap-frame .st17 {
  fill: url(#SVGID_10_); }

.ap-frame .st18 {
  fill: url(#SVGID_11_); }

.ap-frame .st19 {
  opacity: 0.55;
  fill: url(#SVGID_12_); }

.ap-frame .st20 {
  fill: url(#SVGID_13_); }

.ap-frame .st21 {
  fill: url(#SVGID_14_); }

.ap-frame .st22 {
  opacity: 0.46;
  fill: url(#SVGID_15_); }

.ap-frame .st23 {
  opacity: 0.55;
  fill: url(#SVGID_16_); }

.ap-frame .st24 {
  fill: url(#SVGID_17_); }

.ap-frame .st25 {
  fill: url(#SVGID_18_); }

.ap-frame .st26 {
  opacity: 0.55;
  fill: url(#SVGID_19_); }

.ap-frame .st27 {
  fill: url(#SVGID_20_); }

.ap-frame .st28 {
  fill: url(#SVGID_21_); }

.ap-frame .st29 {
  opacity: 0.46;
  fill: url(#SVGID_22_); }

.ap-frame .st30 {
  opacity: 0.55;
  fill: url(#SVGID_23_); }

.ap-frame .st31 {
  fill: url(#SVGID_24_); }

.ap-frame .st32 {
  fill: url(#SVGID_25_); }

.ap-frame .st33 {
  opacity: 0.55;
  fill: url(#SVGID_26_); }

.ap-frame .st34 {
  fill: url(#SVGID_27_); }

.ap-frame .st35 {
  fill: url(#SVGID_28_); }

.ap-frame .st36 {
  opacity: 0.46;
  fill: url(#SVGID_29_); }

.ap-frame .st37 {
  opacity: 0.55;
  fill: url(#SVGID_30_); }

.ap-frame .st38 {
  fill: url(#SVGID_31_); }

.ap-frame .st39 {
  fill: url(#SVGID_32_); }

.ap-frame .st40 {
  opacity: 0.55;
  fill: url(#SVGID_33_); }

.ap-frame .st41 {
  fill: url(#SVGID_34_); }

.ap-frame .st42 {
  fill: url(#SVGID_35_); }

.ap-frame .st43 {
  opacity: 0.46;
  fill: url(#SVGID_36_); }

.ap-frame .st44 {
  opacity: 0.55;
  fill: url(#SVGID_37_); }

.ap-frame .st45 {
  fill: url(#SVGID_38_); }

.ap-frame .st46 {
  fill: url(#SVGID_39_); }

.ap-frame .st47 {
  opacity: 0.55;
  fill: url(#SVGID_40_); }

.ap-frame .st48 {
  fill: url(#SVGID_41_); }

.ap-frame .st49 {
  fill: url(#SVGID_42_); }

.ap-frame .st50 {
  opacity: 0.46;
  fill: url(#SVGID_43_); }

.ap-frame .st51 {
  opacity: 0.55;
  fill: url(#SVGID_44_); }

.ap-frame .st52 {
  fill: url(#SVGID_45_); }

.ap-frame .st53 {
  fill: url(#SVGID_46_); }

.ap-frame .st54 {
  opacity: 0.55;
  fill: url(#SVGID_47_); }

.ap-frame .st55 {
  fill: url(#SVGID_48_); }

.ap-frame .st56 {
  fill: url(#SVGID_49_); }

.ap-frame .st57 {
  opacity: 0.46;
  fill: url(#SVGID_50_); }

.ap-frame .st58 {
  opacity: 0.55;
  fill: url(#SVGID_51_); }

.ap-frame .st59 {
  fill: url(#SVGID_52_); }

.ap-frame .st60 {
  fill: url(#SVGID_53_); }

.ap-frame .st61 {
  opacity: 0.55;
  fill: url(#SVGID_54_); }

.ap-frame .st62 {
  fill: url(#SVGID_55_); }

.ap-frame .st63 {
  fill: url(#SVGID_56_); }

.ap-frame .st64 {
  opacity: 0.46;
  fill: url(#SVGID_57_); }

.ap-frame .st65 {
  opacity: 0.55;
  fill: url(#SVGID_58_); }

.ap-frame .st66 {
  fill: url(#SVGID_59_); }

.ap-frame .st67 {
  fill: url(#SVGID_60_); }

.ap-frame .st68 {
  opacity: 0.55;
  fill: url(#SVGID_61_); }

.ap-frame .st69 {
  fill: url(#SVGID_62_); }

.ap-frame .st70 {
  fill: url(#SVGID_63_); }

.ap-frame .st71 {
  opacity: 0.46;
  fill: url(#SVGID_64_); }

.ap-frame .st72 {
  opacity: 0.55;
  fill: url(#SVGID_65_); }

.ap-frame .st73 {
  fill: url(#SVGID_66_); }

.ap-frame .st74 {
  fill: url(#SVGID_67_); }

.ap-frame .st75 {
  opacity: 0.55;
  fill: url(#SVGID_68_); }

.ap-frame .st76 {
  fill: url(#SVGID_69_); }

.ap-frame .st77 {
  fill: url(#SVGID_70_); }

.ap-frame .st78 {
  opacity: 0.46;
  fill: url(#SVGID_71_); }

.ap-frame .st79 {
  opacity: 0.55;
  fill: url(#SVGID_72_); }

.ap-frame .st80 {
  fill: url(#SVGID_73_); }

.ap-frame .st81 {
  fill: url(#SVGID_74_); }

.ap-frame .st82 {
  opacity: 0.55;
  fill: url(#SVGID_75_); }

.ap-frame .st83 {
  fill: url(#SVGID_76_); }

.ap-frame .st84 {
  fill: url(#SVGID_77_); }

.ap-frame .st85 {
  opacity: 0.46;
  fill: url(#SVGID_78_); }

.ap-frame .st86 {
  opacity: 0.55;
  fill: url(#SVGID_79_); }

.ap-frame .st87 {
  fill: url(#SVGID_80_); }

.ap-frame .st88 {
  fill: url(#SVGID_81_); }

.ap-frame .st89 {
  opacity: 0.55;
  fill: url(#SVGID_82_); }

.ap-frame .st90 {
  fill: url(#SVGID_83_); }

.ap-frame .st91 {
  fill: url(#SVGID_84_); }

.ap-frame .st92 {
  opacity: 0.46;
  fill: url(#SVGID_85_); }

.ap-frame .st93 {
  opacity: 0.55;
  fill: url(#SVGID_86_); }

.ap-frame .st94 {
  fill: url(#SVGID_87_); }

.ap-frame .st95 {
  fill: url(#SVGID_88_); }

.ap-frame .st96 {
  opacity: 0.55;
  fill: url(#SVGID_89_); }

.ap-frame .st97 {
  fill: url(#SVGID_90_); }

.ap-frame .st98 {
  fill: url(#SVGID_91_); }

.ap-frame .st99 {
  opacity: 0.46;
  fill: url(#SVGID_92_); }

.ap-frame .st100 {
  opacity: 0.55;
  fill: url(#SVGID_93_); }

.ap-frame .st101 {
  fill: url(#SVGID_94_); }

.ap-frame .st102 {
  fill: url(#SVGID_95_); }

.ap-frame .st103 {
  opacity: 0.55;
  fill: url(#SVGID_96_); }

.ap-frame .st104 {
  fill: url(#SVGID_97_); }

.ap-frame .st105 {
  fill: url(#SVGID_98_); }

.ap--is-game-menu {
  overflow: hidden; }
  .ap--is-game-menu .ap-modal--game-loader {
    display: none; }

.ap--is-game {
  overflow: hidden; }
  .ap--is-game .ap-modal--game-loader .ap-load-bar-progress {
    width: 51%; }

.hidden {
  width: 0;
  height: 0;
  position: absolute;
  font-size: 0; }

.ap-btn {
  background: -webkit-gradient(linear, right top, left top, from(#f85155), to(#ff6763));
  background: linear-gradient(to left, #f85155, #ff6763);
  font-family: "chewy", sans-serif;
  color: #fff;
  width: 100%;
  max-width: 10em;
  display: block;
  text-align: center;
  padding: 0.7em;
  border-radius: 14em;
  font-weight: 700;
  text-shadow: 0em 0em 0.4em rgba(0, 0, 0, 0.4);
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 0.2em;
  box-shadow: 0em 0.2em #44171d;
  letter-spacing: 1px; }

.ap-footer .ap-ft-area {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 1.6em 1em;
  z-index: 4; }
  @media only screen and (max-width: 760px) {
    .ap-footer .ap-ft-area {
      font-size: 0.68em; } }
  @media only screen and (min-width: 760px) {
    .ap-footer .ap-ft-area {
      justify-content: space-around; } }

.ap-footer .ap-ft-logo {
  max-width: 8em;
  width: 100%;
  display: block;
  height: 2em; }
  .ap-footer .ap-ft-logo .icon {
    fill: #fff; }

.ap-footer .ap-txt--link {
  color: #707070;
  text-decoration: underline; }

.ap-overlay {
  background-color: black;
  display: none;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999999;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .ap-overlay .ap-btn-close {
    color: #f85155;
    font-size: 1.2em;
    height: 2.6em;
    line-height: 1.5em;
    position: absolute;
    right: 1em;
    text-align: center;
    top: 1em;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    width: 2.6em;
    background: none;
    box-shadow: none;
    padding: 0.2em; }
    @media only screen and (min-width: 760px) {
      .ap-overlay .ap-btn-close {
        right: 4em;
        top: 3em; } }
    .ap-overlay .ap-btn-close .icon {
      fill: #f85155; }
  .ap-overlay .ap-tt,
  .ap-overlay .ap-txt,
  .ap-overlay .ap-ttt {
    font-family: "chewy", sans-serif; }
  .ap-overlay .ap-tt {
    font-size: 2.8em;
    text-align: center; }
    .ap-overlay .ap-tt--day {
      font-size: 2.8em; }
    .ap-overlay .ap-tt:nth-child(2) {
      padding: 0.6em; }
  .ap-overlay .ap-ttt {
    font-size: 1.4em;
    text-align: center;
    padding: 0.2em; }
  .ap-overlay .ap-txt {
    max-width: 11em;
    margin: 1em auto;
    font-size: 1.4em;
    text-align: center; }

.ap-modal-flx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  padding: 1em; }

.ap-modal--is-visible {
  display: block; }

.ap-modal--login .ap-flx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  justify-content: space-around;
  padding: 1em; }

.ap-modal--login .ap-txt {
  font-size: 1.2em;
  max-width: 100%;
  margin: 0 auto; }
  .ap-modal--login .ap-txt:nth-child(2) {
    margin-bottom: 1em; }

.ap-modal--login .ap-login-tt {
  font-size: 1.5em; }

@media only screen and (min-width: 760px) {
  .ap-modal--login .ap-modal-nav {
    max-width: 25em;
    margin: 0 auto; } }

.ap-modal--login .ap-modal-nav .ap-btn {
  width: 7.4em;
  font-size: 1em;
  height: 7.4em;
  padding: 1em; }
  .ap-modal--login .ap-modal-nav .ap-btn .icon {
    fill: #fff; }
  .ap-modal--login .ap-modal-nav .ap-btn:first-child {
    margin-right: 1em; }

.ap-modal--login-error .ap-modal-nav {
  margin: 2em auto; }

.ap-modal--login-error .ap-btn {
  max-width: 8em;
  margin: auto;
  padding: 0.2em 1.5em; }
  @media only screen and (min-width: 760px) {
    .ap-modal--login-error .ap-btn {
      max-width: 11.4em;
      padding: 0.2em; } }

.ap-modal--error-flow .ap-modal-nav .ap-btn {
  max-width: 8em;
  margin: auto;
  padding: 0.2em 1.5em; }
  @media only screen and (min-width: 760px) {
    .ap-modal--error-flow .ap-modal-nav .ap-btn {
      max-width: 11.4em;
      padding: 0.2em; } }

.ap-modal--leave .ap-txt {
  margin: 0.6em auto 1em; }
  @media only screen and (min-width: 760px) {
    .ap-modal--leave .ap-txt {
      max-width: 13em; } }

.ap-modal--leave .ap-modal-nav .ap-btn {
  margin: auto; }
  @media only screen and (max-width: 760px) {
    .ap-modal--leave .ap-modal-nav .ap-btn {
      max-width: 8em; } }
  .ap-modal--leave .ap-modal-nav .ap-btn:nth-child(2) {
    margin-top: 0.6em; }

.ap-modal--terms .ap-modal {
  max-width: 85%;
  margin: 0 auto; }
  @media only screen and (min-width: 760px) {
    .ap-modal--terms .ap-modal {
      max-width: 95%; } }
  @media only screen and (min-width: 760px) {
    .ap-modal--terms .ap-modal-wrapp {
      max-width: 40em; } }
  .ap-modal--terms .ap-modal-terms-data {
    padding-right: 1em;
    font-size: 0.8em; }
    @media only screen and (min-width: 760px) {
      .ap-modal--terms .ap-modal-terms-data {
        padding-right: 1.8em;
        font-size: 1em; } }
    .ap-modal--terms .ap-modal-terms-data p {
      color: #fff;
      padding-bottom: 0.6em; }
      .ap-modal--terms .ap-modal-terms-data p a {
        color: #fff;
        text-decoration: underline; }
    .ap-modal--terms .ap-modal-terms-data ul li,
    .ap-modal--terms .ap-modal-terms-data ol li {
      color: #fff;
      padding-bottom: 0.6em; }
      .ap-modal--terms .ap-modal-terms-data ul li a,
      .ap-modal--terms .ap-modal-terms-data ol li a {
        color: #fff;
        text-decoration: underline; }

.ap-modal--terms .ap-scroll {
  height: calc(100vh - 16em);
  margin-top: 1em; }
  @media only screen and (min-width: 760px) {
    .ap-modal--terms .ap-scroll {
      height: calc(100vh - 20em); } }
  @media only screen and (min-width: 1000px) {
    .ap-modal--terms .ap-scroll {
      height: calc(100vh - 24em); } }

.ap-modal-script.ap-overlay {
  overflow: hidden; }

.ap-modal-script .ap-modal {
  text-align: center;
  max-width: 34em;
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .ap-modal-script .ap-modal {
      display: -webkit-box;
      display: flex;
      height: 33em;
      justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }
  .ap-modal-script .ap-modal-wrapp {
    max-width: 24em;
    width: 100%; }

.ap-modal-script .ap-tt {
  color: #2a2a2a;
  font-size: 1.8em; }

.ap-modal-script .ap-ttt {
  color: #2a2a2a; }

.ap-modal-script .ap-modal-nav {
  padding-left: 4em; }
  .ap-modal-script .ap-modal-nav .ap-btn {
    max-width: 6em; }

.ap-modal-script .ap-overlay-area {
  padding-top: 10.6em; }
  @media screen and (min-width: 760px) and (max-width: 1024px) and (orientation: portrait) {
    .ap-modal-script .ap-overlay-area {
      padding-top: 13.1em; } }
  @media only screen and (min-width: 1200px) {
    .ap-modal-script .ap-overlay-area {
      padding-top: 0; } }

.ap-modal-script .ap-modal-flx {
  position: relative;
  z-index: 2;
  -webkit-box-pack: start;
          justify-content: start; }
  @media only screen and (min-width: 1200px) {
    .ap-modal-script .ap-modal-flx {
      -webkit-box-pack: center;
              justify-content: center; } }

@media screen and (max-width: 380px) and (orientation: portrait) {
  .ap-modal-script {
    font-size: 0.88em; } }

@media screen and (max-width: 320px) and (orientation: portrait) {
  .ap-modal-script {
    font-size: 0.78em; } }

.ap-modal--instructions .ap-tt, .ap-modal--instructions .ap-ttt, .ap-modal--instructions .ap-txt, .ap-modal--instructions .ap-inst-img, .ap-modal--instructions .ap-play-btn {
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateY(-0.6em);
          transform: translateY(-0.6em); }

.ap-modal--instructions .ap-mod-clack {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .ap-modal--instructions .ap-mod-clack--open {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.ap-modal--instructions-open .ap-tt {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.ap-modal--instructions-open .ap-ttt {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }

.ap-modal--instructions-open .ap-txt {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s; }
  .ap-modal--instructions-open .ap-txt:nth-child(2) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s; }
  .ap-modal--instructions-open .ap-txt:nth-child(3) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s; }

.ap-modal--instructions-open .ap-inst-img {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s; }

.ap-modal--instructions-open .ap-play-btn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s; }

.ap-modal--holdon .ap-hold-info {
  color: #2a2a2a; }

.ap-modal--holdon .ap-modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  height: calc(100vh - 14.6em); }

.ap-modal--game-loader .ap-modal {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  height: calc(100vh - 18.6em); }
  @media only screen and (min-width: 760px) {
    .ap-modal--game-loader .ap-modal {
      height: calc(100vh - 36.6em); } }
  @media only screen and (min-width: 1000px) {
    .ap-modal--game-loader .ap-modal {
      height: calc(100vh - 21.6em); } }

.ap-modal--game-loader .ap-tt {
  font-size: 2.8em; }

.ap-modal--game-loader .ap-load-bar {
  background-color: rgba(112, 112, 112, 0.8);
  position: relative;
  width: 11.8em;
  height: 1em;
  border-radius: 10em;
  margin: 1em auto 0;
  overflow: hidden; }
  .ap-modal--game-loader .ap-load-bar-progress {
    background-color: #2a2a2a;
    width: 0%;
    height: 100%;
    position: relative; }
    .ap-modal--game-loader .ap-load-bar-progress:before {
      background-color: #2a2a2a;
      content: "";
      position: absolute;
      width: 1em;
      height: 1em;
      right: -0.2em;
      -webkit-transform: skewX(-20deg);
              transform: skewX(-20deg); }
  .ap-modal--game-loader .ap-load-bar--is-waiting-change .ap-load-bar-progress {
    width: 50%; }
  .ap-modal--game-loader .ap-load-bar--is-ready .ap-load-bar-progress {
    width: 100%; }

.ap-mod-clack .script-modal {
  position: absolute;
  width: 30em;
  left: 50%;
  margin-left: -17.4em;
  height: 54em;
  top: 0; }
  @media screen and (min-width: 760px) and (max-width: 1024px) and (orientation: portrait) {
    .ap-mod-clack .script-modal {
      top: auto;
      bottom: 0;
      font-size: 1.2em; } }
  @media only screen and (min-width: 1200px) {
    .ap-mod-clack .script-modal {
      font-size: 1.2em;
      top: 50%;
      margin-top: -24.9em; } }

.ap-instructions-info {
  max-width: 86%;
  padding-left: 4em; }
  .ap-instructions-info .ap-txt {
    color: #2a2a2a;
    font-family: "Lato", sans-serif;
    font-size: 1.086em;
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 0 0;
    text-align: left; }

.ap-instructions-img {
  max-width: 8em;
  margin: 1em auto; }
  .ap-instructions-img img {
    width: 100%; }

.ap-instructions-shape .ap-shape {
  float: left;
  shape-outside: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 117.2 422.4' style='enable-background:new 0 0 117.2 422.4;' xml:space='preserve'%3E%3Cpath class='st0' d='M0-180.8v347c0,0,5.9-14.5,19-17.9c13.1-3.5,36.7-10.4,50.6-3c13.9,7.5,37,26,25.7,64.3s-34,59.1-34,59.1 l3.6,32.4c0,0-7,48.2-61.4,90.8v56.3L0,451.2V-180.8z'/%3E%3C/svg%3E");
  width: 11em;
  height: 25.8em;
  shape-margin: 1.6em; }

.ap-ui-header {
  background-color: #f85155;
  padding: 1em;
  margin-bottom: 1em; }
  .ap-ui-header .ap-ttt {
    color: #fff;
    font-weight: 700; }

.ap-ui-area {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-bottom: 1em; }
  @media only screen and (min-width: 1000px) {
    .ap-ui-area {
      max-width: 80em;
      margin: 0 auto 1em; } }

.ap-ui-settings .ap-ttt-ui {
  font-weight: 700;
  margin-bottom: 0.6em; }

.ap-ui-area--svg .icon {
  width: 10em;
  height: 10em;
  display: block; }

.ap-ui-area--colors .ap-flx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center; }

.ap-ui-area--colors .ap-elm-color {
  width: 10em;
  height: 10em;
  text-align: center;
  margin: auto; }
  .ap-ui-area--colors .ap-elm-color .color {
    display: block;
    width: 100%;
    height: 8em;
    margin-bottom: 0.6em; }

.palette-base {
  background: #f85155; }

.palette-baseDrk {
  background: #44171d; }

.palette-green {
  background: #00cf77; }

.palette-greenDrk {
  background: #003519; }

.palette-fontBase {
  background: #707070; }

.palette-fontSubase {
  background: #2a2a2a; }

.ap-op {
  background-color: #2a2a2a;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .ap-op--intro {
    background-color: #00cf77;
    position: fixed;
    height: calc(100vh - 3.6em); }
    .ap-op--intro-done {
      position: relative; }

.ap-intro-ui {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%; }
  .ap-intro-ui .ap-lg {
    opacity: 0; }

.ap-intro-link {
  display: block;
  width: 14em;
  margin: 0 auto; }

.ap-intro-flx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.8em 0;
  -webkit-box-align: center;
          align-items: center; }

.ap-intro-nav {
  width: 100%;
  opacity: 0; }
  .ap-intro-nav .ap-btn {
    max-width: 8em;
    margin: 0 auto;
    font-size: 2.2em; }

.ap-intro-svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .ap-intro-svg svg {
    width: 30em;
    height: 30em;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -19.6em;
    margin-left: -15.2em;
    font-size: 2.4em; }
    @media only screen and (min-width: 1000px) {
      .ap-intro-svg svg {
        font-size: 2.8em; } }
  .ap-intro-svg #logo {
    opacity: 0; }

.ap-terms .ap-scroll {
  max-height: 32em; }
  @media only screen and (min-width: 760px) {
    .ap-terms .ap-scroll {
      min-height: 28em;
      max-height: 32em; } }

.ap-game-menu {
  width: 100%;
  height: calc(100vh - 8.5em); }
  @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) {
    .ap-game-menu {
      height: calc(100vh - 8.2em); } }
  @media only screen and (min-width: 360px) and (max-height: 568px) and (orientation: portrait) {
    .ap-game-menu {
      height: calc(100vh - 7em); } }
  @media only screen and (min-width: 760px) {
    .ap-game-menu {
      height: calc(100vh - 7em); } }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 922px) and (orientation: portrait) {
    .ap-game-menu {
      height: calc(100vh - 9em); } }
  @media only screen and (min-width: 1000px) {
    .ap-game-menu {
      height: calc(100vh - 7.2em); } }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 666px) {
    .ap-game-menu {
      height: calc(100vh - 9.2em); } }
  @media only screen and (min-width: 1025px) {
    .ap-game-menu {
      height: calc(100vh - 5.2em); } }
  .ap-game-menu .ap-btn {
    position: relative;
    z-index: 3; }
  .ap-game-menu .ap-stands-svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden; }
    .ap-game-menu .ap-stands-svg .dinamic-rack {
      opacity: 0; }
  .ap-game-menu #game-selection {
    width: 30em;
    height: 12.4em;
    font-size: 4em;
    top: 50%;
    left: 50%;
    margin-left: -15.09em;
    margin-top: -5.1em;
    position: absolute; }
    @media only screen and (min-width: 760px) {
      .ap-game-menu #game-selection {
        font-size: 5.2em; } }

.click-id {
  cursor: pointer; }

.ap-game-stage {
  height: calc(100vh - 3.5em);
  overflow: hidden;
  position: relative;
  z-index: 4; }
  @media only screen and (max-height: 568px) and (orientation: portrait) {
    .ap-game-stage {
      height: calc(100vh - 8.2em); } }
  @media only screen and (min-width: 360px) and (max-height: 568px) and (orientation: portrait) {
    .ap-game-stage {
      height: calc(100vh - 7em); } }
  @media only screen and (min-width: 760px) {
    .ap-game-stage {
      height: calc(100vh - 7em); } }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 922px) and (orientation: portrait) {
    .ap-game-stage {
      height: calc(100vh - 9em); } }
  @media only screen and (min-width: 1000px) {
    .ap-game-stage {
      height: calc(100vh - 7.2em); } }
  @media screen and (min-width: 768px) and (max-width: 1024px) and (max-height: 666px) {
    .ap-game-stage {
      height: calc(100vh - 9.2em); } }
  @media only screen and (min-width: 1025px) {
    .ap-game-stage {
      height: calc(100vh - 5.2em); } }

.ap-game-area {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.ap-game-bg {
  background: url("../img/prueba-fondo.svg");
  background-size: 116em auto;
  background-position: center top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .ap-game-bg:before {
    background: radial-gradient(rgba(0, 0, 0, 0), #000);
    opacity: 1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2; }
  @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) {
    .ap-game-bg {
      background-size: 52em auto; } }
  @media only screen and (min-width: 360px) and (max-height: 568px) and (orientation: portrait) {
    .ap-game-bg {
      background-size: 66em auto; } }
  @media only screen and (min-width: 1025px) {
    .ap-game-bg {
      background-size: cover; } }

.ap-game-rack {
  background: url("../img/img-empty-rack.svg") no-repeat;
  background-position: center top;
  position: absolute;
  height: 56em;
  width: 100%;
  z-index: 1;
  top: 50%;
  margin-top: -32.4em; }
  @media only screen and (max-height: 568px) and (orientation: portrait) {
    .ap-game-rack {
      background-size: 25.4em auto; } }
  @media only screen and (min-width: 340px) {
    .ap-game-rack {
      background-size: 26em auto; } }
  @media only screen and (min-width: 760px) {
    .ap-game-rack {
      margin-top: -32.9em;
      font-size: 1.33em; } }

.ap-game-stant {
  background: url("../img/img-empty-stant.svg") no-repeat;
  background-size: 34em auto;
  background-position: center top;
  position: absolute;
  height: 56em;
  width: 100%;
  z-index: 1;
  top: 50%;
  margin-top: -27.4em; }
  @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) {
    .ap-game-stant {
      background-size: 38em auto;
      height: 57em;
      margin-top: -28.5em; } }
  @media only screen and (min-width: 360px) and (max-height: 568px) and (orientation: portrait) {
    .ap-game-stant {
      margin-top: -31.1em; } }
  @media only screen and (min-width: 760px) {
    .ap-game-stant {
      margin-top: -32.9em;
      font-size: 1.4em; } }

.ap-counter {
  text-align: center;
  padding: 1em; }
  .ap-counter .ap-txt {
    font-family: "chewy", sans-serif;
    font-size: 1em;
    color: #fff; }
    .ap-counter .ap-txt--timer {
      font-size: 1.8em; }

.jqPuzzle {
  padding: 5px; }

/* only needed if external css rules set defaults for divs,
   this rule only resets the most common properties */
.jqPuzzle div {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  border-style: none; }

/* div wrapper which holds the puzzle pieces and the solution image */
.jqPuzzle .jqp-wrapper {
  padding: 2px;
  border: 1px solid #ffffff;
  background-color: #444455; }

/* a single puzzle piece */
.jqPuzzle .jqp-piece {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5em; }
  .jqPuzzle .jqp-piece:hover {
    border-style: dashed; }

.jqPuzzle.jqp-solved .jqp-piece:hover {
  border-style: solid; }

/* the controls area which holds the buttons and the display */
.jqPuzzle .jqp-controls {
  float: left; }

/* a button */
.jqPuzzle .jqp-controls a {
  margin-top: 5px;
  margin-right: 8px;
  padding: 3px 5px;
  border: 1px outset #ffffff;
  background-color: #777799;
  color: #ffffff;
  font-size: 14px;
  line-height: normal;
  float: left; }

.jqPuzzle .jqp-controls a:hover {
  background-color: #7777bb; }

/* toggle/down state for buttons */
.jqPuzzle .jqp-controls a.jqp-toggle,
.jqPuzzle .jqp-controls a.jqp-down {
  padding-left: 4px;
  padding-right: 6px;
  border-style: inset;
  background-color: #bbbbff; }

/* disabled state for buttons */
.jqPuzzle .jqp-controls a.jqp-disabled {
  background-color: #ddddee;
  color: #ffffff; }

/* the area which holds the moves/seconds display */
.jqPuzzle .jqp-controls span {
  margin-top: 5px;
  padding: 2px 4px;
  padding-left: 0px;
  border: none;
  background-color: transparent;
  color: #666666;
  font-size: 14px;
  float: left; }

/* disabled state for the display (non-shuffled puzzle) */
.jqPuzzle .jqp-controls span.jqp-disabled {
  color: #aaaaaa; }

/* solved state for the display (non-shuffled puzzle) */
.jqPuzzle.jqp-solved .jqp-controls span {
  padding: 1px 3px;
  border: 1px dotted #0f8f08;
  background-color: #9fef86;
  color: #0f8f08; }

/* a text field for the moves/seconds display */
.jqPuzzle .jqp-controls span input {
  margin: 0px 3px;
  padding: 3px;
  padding-bottom: 2px;
  border-style: none;
  background-color: #ffffff;
  color: #666666;
  font-weight: bold;
  text-align: right; }

/* disabled state for the text fields */
.jqPuzzle .jqp-controls span.jqp-disabled input {
  background-color: #eeeeff;
  color: #aaaaaa; }

/* solved state for the text fields */
.jqPuzzle.jqp-solved .jqp-controls span input {
  background-color: #c2ffaf;
  color: #444444; }

@media only screen and (min-width: 760px) {
  .ap-puzzle .ap-counter {
    position: absolute;
    top: 0;
    width: 100%; } }

.ap-puzzle-cont {
  position: relative;
  width: 18.5em;
  height: 18.5em;
  margin: auto; }
  @media only screen and (min-width: 360px) {
    .ap-puzzle-cont {
      font-size: 1.14em; } }
  @media only screen and (min-width: 760px) {
    .ap-puzzle-cont {
      font-size: 1.4em; } }

.ap-puzzle-img {
  -webkit-transform: scale(0.68);
          transform: scale(0.68);
  left: 50%;
  margin-left: -224px;
  position: absolute;
  top: 50%;
  margin-top: -224px; }
  @media only screen and (min-width: 360px) {
    .ap-puzzle-img {
      -webkit-transform: scale(0.78);
              transform: scale(0.78); } }
  @media only screen and (min-width: 760px) {
    .ap-puzzle-img {
      -webkit-transform: scale(0.96);
              transform: scale(0.96); } }
  .ap-puzzle-img div:nth-child(2) {
    display: none; }

@media only screen and (min-width: 760px) {
  .ap-game-trivia .ap-counter {
    position: absolute;
    top: 0;
    width: 100%; } }

.ap-trivia-controls {
  max-width: 22em;
  margin: 0 auto;
  position: relative; }
  @media only screen and (min-width: 760px) {
    .ap-trivia-controls {
      font-size: 1.18em; } }
  .ap-trivia-controls--answers {
    margin: auto;
    max-width: 16em;
    text-align: center;
    font-size: 0.93em;
    min-height: 16em;
    -webkit-transform: translate(-1.1em, 1em);
            transform: translate(-1.1em, 1em); }
    @media only screen and (max-width: 350px) {
      .ap-trivia-controls--answers {
        font-size: 0.88em; } }
    .ap-trivia-controls--answers ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center; }
    .ap-trivia-controls--answers_item {
      font-size: 1.5em;
      height: 3.4em;
      margin: 0.8em;
      max-width: 20em;
      padding: 0;
      width: 3.4em;
      position: relative; }
      .ap-trivia-controls--answers_item img {
        width: 100%;
        display: inline-block;
        vertical-align: baseline; }
      .ap-trivia-controls--answers_item .ap-trivia-frame {
        position: absolute;
        width: 4.8em;
        left: -0.7em;
        top: -0.6em;
        z-index: -1; }
  .ap-trivia-controls--question {
    height: 6em;
    padding: 1.8em 3em 0 1.6em;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }

.ap-trivia-flx {
  position: relative;
  z-index: 2; }

.ap-trivia-box {
  position: absolute;
  top: -2em;
  left: -2em;
  right: -2em;
  bottom: -2em; }

.ap-f-error {
  width: 90%;
  margin: auto; }
  @media only screen and (min-width: 760px) {
    .ap-f-error {
      max-width: 26em;
      width: 100%; } }
  .ap-f-error--imagen {
    width: 100%; }
    @media only screen and (min-width: 760px) {
      .ap-f-error--imagen {
        -webkit-transform: translateY(4em);
                transform: translateY(4em); } }
  @media only screen and (min-width: 760px) {
    .ap-f-error .ap-counter {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0; } }

.ap--is-intro {
  overflow: hidden; }
