@charset "UTF-8";
body {
  color: #222;
  font-family: "Montserrat", sans-serif; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0; }

.f-left {
  float: left; }

.f-right {
  float: right; }

img:not([src]):not([srcset]) {
  visibility: hidden; }

.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em; }

q {
  quotes: "“" "”" "‘" "’"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  vertical-align: bottom; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

i img {
  vertical-align: bottom;
  max-width: 100%; }

select {
  width: 100%; }

option {
  background-color: #fff;
  padding: 0.2em; }

svg {
  width: 100%;
  height: 100%; }

.ap-intro-ui #logo-navidad .st0 {
  fill: #006633; }

.ap-intro-ui #logo-navidad .st1 {
  fill: none; }

.ap-intro-ui #logo-navidad .st2 {
  fill: url(#SVGID_1_); }

.ap-intro-ui #logo-navidad .st3 {
  fill: url(#SVGID_2_); }

.ap-intro-ui #logo-navidad .st4 {
  fill: url(#SVGID_3_); }

.ap-intro-ui #logo-navidad .st5 {
  fill: url(#SVGID_4_); }

.ap-intro-ui #logo-navidad .st6 {
  fill: url(#SVGID_5_); }

.ap-intro-ui #logo-navidad .st7 {
  fill: url(#SVGID_6_); }

.ap-intro-ui #logo-navidad .st8 {
  fill: url(#SVGID_7_); }

.ap-intro-ui #logo-navidad .st9 {
  fill: url(#SVGID_8_); }

.ap-intro-ui #logo-navidad .st10 {
  fill: url(#SVGID_9_); }

.ap-intro-ui #logo-navidad .st11 {
  fill: url(#SVGID_10_); }

.ap-intro-ui #logo-navidad .st12 {
  fill: url(#SVGID_11_); }

.ap-intro-ui #logo-navidad .st13 {
  fill: #8e690c; }

.ap-intro-ui #logo-navidad .st14 {
  fill: url(#SVGID_12_); }

.ap-intro-ui #logo-navidad .st15 {
  fill: url(#SVGID_13_); }

.ap-intro-ui #logo-navidad .st16 {
  fill: url(#SVGID_14_); }

.ap-intro-ui #logo-navidad .st17 {
  fill: url(#SVGID_15_); }

.ap-intro-ui #logo-navidad .st18 {
  fill: url(#SVGID_16_); }

.ap-intro-ui #logo-navidad .st19 {
  fill: url(#SVGID_17_); }

.ap-intro-ui #logo-navidad .st20 {
  fill: url(#SVGID_18_); }

.ap-intro-ui #logo-navidad .st21 {
  fill: url(#SVGID_19_); }

.ap-intro-ui #logo-navidad .st22 {
  fill: url(#SVGID_20_); }

.ap-intro-ui #logo-navidad .st23 {
  fill: url(#SVGID_21_); }

.ap-intro-ui #logo-navidad .st24 {
  fill: url(#SVGID_22_); }

.ap-intro-ui #logo-navidad .st25 {
  fill: #003519; }

.ap-intro-ui #logo-navidad .st26 {
  fill: url(#SVGID_23_); }

.ap-intro-ui #logo-navidad .st27 {
  fill: url(#SVGID_24_); }

.ap-intro-ui #logo-navidad .st28 {
  fill: url(#SVGID_25_); }

.ap-intro-ui #logo-navidad .st29 {
  fill: url(#SVGID_26_); }

.ap-intro-ui #logo-navidad .st30 {
  fill: url(#SVGID_27_); }

.ap-intro-ui #logo-navidad .st31 {
  fill: url(#SVGID_28_); }

.ap-intro-ui #logo-navidad .st32 {
  fill: url(#SVGID_29_); }

.ap-intro-ui #logo-navidad .st33 {
  fill: url(#SVGID_30_); }

.ap-intro-ui #logo-navidad .st34 {
  opacity: 0.8; }

.ap-intro-ui #logo-navidad .st35 {
  fill: #ffffff; }

.ap-intro-ui #logo-navidad .st36 {
  fill: url(#SVGID_31_); }

.ap-intro-ui #logo-navidad .st37 {
  opacity: 0.7; }

.ap-intro-ui #logo-navidad .st38 {
  fill: url(#SVGID_32_); }

.ap-intro-ui #logo-navidad .st39 {
  fill: url(#SVGID_33_); }

.ap-intro-ui #logo-navidad .st40 {
  fill: url(#SVGID_34_); }

.ap-intro-ui #logo-navidad .st41 {
  fill: url(#SVGID_35_); }

.ap-intro-ui #logo-navidad .st42 {
  fill: #7c2830; }

.ap-intro-ui #logo-navidad .st43 {
  fill: url(#SVGID_36_); }

.ap-intro-ui #logo-navidad .st44 {
  fill: url(#SVGID_37_); }

.ap-intro-ui #logo-navidad .st45 {
  fill: url(#SVGID_38_); }

.ap-intro-ui #logo-navidad .st46 {
  fill: url(#SVGID_39_); }

.ap-intro-ui #logo-navidad .st47 {
  fill: url(#SVGID_40_); }

.ap-intro-ui #logo-navidad .st48 {
  fill: url(#SVGID_41_); }

.ap-intro-ui #logo-navidad .st49 {
  fill: url(#SVGID_42_); }

.ap-intro-ui #logo-navidad .st50 {
  fill: url(#SVGID_43_); }

.ap-intro-ui #logo-navidad .st51 {
  fill: url(#SVGID_44_); }

.ap-intro-ui #logo-navidad .st52 {
  fill: url(#SVGID_45_); }

.ap-intro-ui #logo-navidad .st53 {
  fill: url(#SVGID_46_); }

.ap-intro-ui #logo-navidad .st54 {
  fill: url(#SVGID_47_); }

.ap-intro-ui #logo-navidad .st55 {
  fill: url(#SVGID_48_); }

.ap-intro-ui #logo-navidad .st56 {
  fill: url(#SVGID_49_); }

.ap-intro-ui #logo-navidad .st57 {
  fill: url(#SVGID_50_); }

.ap-intro-ui #logo-navidad .st58 {
  fill: url(#SVGID_51_); }

.ap-intro-ui #logo-navidad .st59 {
  fill: url(#SVGID_52_); }

.ap-intro-ui #logo-navidad .st60 {
  fill: url(#SVGID_53_); }

.ap-intro-ui #logo-navidad .st61 {
  fill: url(#SVGID_54_); }

.ap-intro-ui #logo-navidad .st62 {
  fill: url(#SVGID_55_); }

.ap-intro-ui #logo-navidad .st63 {
  fill: url(#SVGID_56_); }

.ap-intro-ui #logo-navidad .st64 {
  fill: url(#SVGID_57_); }

.ap-intro-ui #logo-navidad .st65 {
  fill: url(#SVGID_58_); }

.ap-intro-ui #logo-navidad .st66 {
  fill: url(#SVGID_59_); }

.ap-intro-ui #logo-navidad .st67 {
  fill: url(#SVGID_60_); }

.ap-intro-ui #logo-navidad .st68 {
  fill: url(#SVGID_61_); }

.ap-intro-ui #logo-navidad .st69 {
  fill: url(#SVGID_62_); }

.ap-intro-ui #logo-navidad .st70 {
  fill: url(#SVGID_63_); }

.ap-intro-ui #logo-navidad .st71 {
  fill: url(#SVGID_64_); }

.ap-intro-ui #logo-navidad .st72 {
  fill: url(#SVGID_65_); }

.ap-intro-ui #logo-navidad .st73 {
  fill: url(#SVGID_66_); }

.ap-intro-ui #logo-navidad .st74 {
  fill: url(#SVGID_67_); }

.ap-intro-ui #logo-navidad .st75 {
  fill: url(#SVGID_68_); }

.ap-intro-ui #logo-navidad .st76 {
  fill: #44171d; }

.ap-intro-ui #logo-navidad .st77 {
  fill: url(#SVGID_69_); }

.ap-intro-ui #logo-navidad .st78 {
  fill: url(#SVGID_70_); }

.ap-intro-ui #logo-navidad .st79 {
  fill: url(#SVGID_71_); }

.ap-intro-ui #logo-navidad .st80 {
  fill: url(#SVGID_72_); }

.ap-scroll {
  position: relative;
  overflow: hidden; }

.ap-btn {
  background-color: #ff5155;
  color: #fff;
  width: 100%;
  max-width: 10em;
  display: block;
  text-align: center;
  padding: 0.7em;
  border-radius: 14em;
  font-weight: 700;
  box-shadow: 0em 0.5em #44171d;
  text-shadow: 0em 0em 0.4em rgba(0, 0, 0, 0.4); }

.ap-footer .ap-ft-area {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 1.6em 1em; }

.ap-footer .ap-ft-logo {
  max-width: 8em;
  width: 100%;
  display: block;
  height: 2em; }
  .ap-footer .ap-ft-logo .icon {
    fill: #fff; }

.ap-footer .ap-txt--link {
  color: #707070;
  text-decoration: underline; }

.ap-overlay {
  background-color: black;
  display: none;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 999999;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .ap-overlay .ap-btn-close {
    color: #fff;
    font-size: 1.2em;
    height: 2.6em;
    line-height: 1.5em;
    position: absolute;
    right: 1em;
    text-align: center;
    top: 1em;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    width: 2.6em;
    padding: 0.6em; }
    .ap-overlay .ap-btn-close .icon {
      fill: #fff; }

.ap-modal-flx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 100%;
  padding: 1em; }

.ap-modal--is-visible {
  display: block; }

.ap-ui-header {
  background-color: #ff5155;
  padding: 1em;
  margin-bottom: 1em; }
  .ap-ui-header .ap-ttt {
    color: #fff;
    font-weight: 700; }

.ap-ui-area {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-bottom: 1em; }
  @media only screen and (min-width: 1000px) {
    .ap-ui-area {
      max-width: 80em;
      margin: 0 auto 1em; } }

.ap-ui-settings .ap-ttt-ui {
  font-weight: 700;
  margin-bottom: 0.6em; }

.ap-ui-area--svg .icon {
  width: 10em;
  height: 10em;
  display: block; }

.ap-ui-area--colors .ap-flx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center; }

.ap-ui-area--colors .ap-elm-color {
  width: 10em;
  height: 10em;
  text-align: center;
  margin: auto; }
  .ap-ui-area--colors .ap-elm-color .color {
    display: block;
    width: 100%;
    height: 8em;
    margin-bottom: 0.6em; }

.palette-base {
  background: #ff5155; }

.palette-baseDrk {
  background: #44171d; }

.palette-green {
  background: #00cf77; }

.palette-greenDrk {
  background: #003519; }

.palette-fontBase {
  background: #707070; }

.palette-fontSubase {
  background: #2a2a2a; }

.ap-op {
  background-color: #2a2a2a;
  width: 100vw;
  height: 100vh; }
  .ap-op--intro {
    background-color: #00cf77;
    position: fixed; }
    .ap-op--intro-done {
      position: relative; }

.ap-intro-ui {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%; }
  .ap-intro-ui .ap-lg {
    opacity: 0; }

.ap-intro-link {
  display: block;
  width: 14em;
  margin: 0 auto; }

.ap-intro-flx {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.8em 0;
  -webkit-box-align: center;
          align-items: center; }

.ap-intro-nav {
  width: 100%;
  opacity: 0; }
  .ap-intro-nav .ap-btn {
    max-width: 14em;
    margin: 0 auto; }

.ap-intro-svg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
  .ap-intro-svg svg {
    width: 30em;
    height: 30em;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -19.6em;
    margin-left: -15.2em;
    font-size: 2.4em; }
    @media only screen and (min-width: 1000px) {
      .ap-intro-svg svg {
        font-size: 2.8em; } }
  .ap-intro-svg #logo {
    opacity: 0; }

.ap-terms .ap-scroll {
  max-height: 32em; }
  @media only screen and (min-width: 760px) {
    .ap-terms .ap-scroll {
      min-height: 28em;
      max-height: 32em; } }

.ap--is-intro {
  overflow: hidden; }
